{% extends 'pages/base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content_panel %}
<div class="panel-heading">
	<div class="panel-title">
		<h3>Login</h3>
	</div>
</div>

<div class="panel-body">
	<center>
		<form method="POST" action="">
			{% csrf_token %}
			{% for key.value in form.errors.items %}
				{{value}}
			{% endfor %}
			<p><label>Tài khoản</label>{{form.username}}</p>
			<p><label>Mật khẩu   </label>{{form.password}}</p>
			<input type="submit" value="Đăng nhập"/>
		</form>
	</center>
</div>

{% endblock %}